<?xml version="1.0" encoding="utf-8"?>
<!-- Sem permissao INTERNET: tudo vem do APK; um arquivo ausente falha em vez de ir para a rede. -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.DeviceDefault.NoActionBar.Fullscreen">

        <!-- configChanges: girar ou redimensionar nao recria a Activity (recriar recarregaria o jogo).
             singleTask: tocar no icone com o jogo aberto (ex.: aberto por "adb shell am start") traz a mesma
             instancia, em vez de rodar uma segunda copia do jogo por cima. -->
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:configChanges="orientation|screenSize|smallestScreenSize|screenLayout|keyboard|keyboardHidden|navigation|density|uiMode"
            android:exported="true"
            android:screenOrientation="sensorLandscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
